/*-------------------
    PAGE PROPERTIES - DEBUG
-------------------*/
header{
    height: 4.375rem;
}


.ms-page-container{
    height: calc(100vh - 4.375rem);
    display: flex;
}

main{
    flex-grow: 1;
    overflow-y: auto;
}


aside{
    color: white;
    width: auto;
    padding: 1.875rem;
    background-image: url('../img/sidebar-bg.png');
    flex-shrink: 0;
}

/*-------------------
    HEADER
-------------------*/

.ms-header-nav{
    display: flex;
    background-color: white;
    width: 100%;
    height: 40px 
}

.ms-logo img{
    width: 100%;
    height: 100%;
}
/*-------------------
    ASIDE
-------------------*/

.ms-list-reset{
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    list-style: none;
}

.ms-list-item{
    font-size: 1.25rem;
    padding: .5rem 0;
    cursor: pointer;
}

.desktop{
    display: none;
    padding-left: .625rem;
}

nav a, header a {
    color: inherit;
    text-decoration: none!important;
}

/* Fix Hover a:link */

header a:hover ,nav a:hover{
    color: inherit;
}

/* DEBUG */


.debug-row{
    height: 6.25rem;
}

/*-------------------
    RESPONSIVE
-------------------*/

@media screen and (min-width:992px){
    .desktop{
        display: inline-block;
    }

    .mobile{
        display: none;
    }
}


